<section id="welcome">
        <header>
            <img src="" alt="imagen alt">
            <h2>Blog del ITEC1</h2>
        </header>
        <p>Bienvenidos al blog del Instituto Tecnológico Nº1 Yacyretá</p>
    </section>

    <section id='latest-posts'>
        <h2>Últimos posts</h2>
        <ul>
            <li>
                <article class="post">
                    <a href="">
                        <img src="" alt="Curso Django">
                        <div class="post__content">
                            <h3>Curso Django</h3>
                            <p>En este curso aprenderás a desarrollar sitios y aplicaciones web con python y el framework django</p>
                        </div>
                    </a>
                </article>
            </li>
        </ul>
    </section>

    <section id="about">
        <h2>Instituto Tecnológico Nº1</h2>
        <p>Comprometidos con la educación permanente.
En consonancia con los avances tecnológicos, y reconociendo la importancia y beneficios con que cuenta internet, el ITEC Nº1 les da la bienvenida a su sitio.</p>
        <p>A través del mismo, buscamos facilitar a los usuarios el acceso a la información actualizada sobre nuestra institución, y de este modo seguir trabajando de manera conjunta con toda la comunidad</p>
    </section>